
<form name="productForm" novalidate class="form-horizontal">

    <fieldset>
        <legend>Basic Product Information</legend>

        <div    class="form-group"
                data-ng-class='{"has-error":vm.showError || productForm.inputProductName.$invalid && productForm.inputProductName.$dirty}'>
            <label for="inputProductName" class="col-md-2 control-label">Product Name</label>
            <div class="col-md-4">
                <input id="inputProductName" type="text" placeholder="Product Name (required)"
                       data-ng-model="vm.product.productName"
                       required
                       data-minlength="4"
                       data-maxlength="12"
                       name="inputProductName"
                       class="form-control">
            </div>
            <div class="col-md-6">
                <span class="help-block has-error" data-ng-show="vm.showError || productForm.inputProductName.$invalid && productForm.inputProductName.$dirty">
                    <span data-ng-show="productForm.inputProductName.$error.required">Product name is required.</span>
                    <span data-ng-show="productForm.inputProductName.$error.minlength">Must be at least 4 characters in length.</span>
                    <span data-ng-show="productForm.inputProductName.$error.maxlength">Cannot exceed 12 characters in length.</span>

                </span>
            </div>
        </div>

        <div    class="form-group"
                data-ng-class='{"has-error":vm.showError || productForm.inputProductCode.$invalid && productForm.inputProductCode.$dirty}'>
            <label for="inputProductCode" class="col-md-2 control-label">Product Code</label>
            <div class="col-md-4">
                <input id="inputProductCode" type="text"
                       data-ng-model="vm.product.productCode"
                       data-ui-mask="AAA-**** (required)"
                       required
                       name="inputProductCode"
                       class="form-control"/>
            </div>
            <div class="col-md-6">
                <span class="help-block has-error" data-ng-show="vm.showError || productForm.inputProductCode.$invalid && productForm.inputProductCode.$dirty">
                   <span data-ng-show="productForm.inputProductCode.$error.required">Product code is required.</span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAvailabilityDate" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <div class="input-group">
                    <input id="inputAvailabilityDate" type="text" data-datepicker-popup="MMM dd, yyyy" data-is-open="vm.isOpen" data-ng-model="vm.product.releaseDate" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputProductDescription" class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <textarea id="inputProductDescription" placeholder="Description" rows="3" data-ng-model="vm.product.description" class="form-control" ></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button data-ng-click="vm.submit(productForm.$valid)" class="btn btn-primary" style="width:80px margin-right:10px;">
                        Save
                    </button>
                </span>
                <span>
                    <button data-ng-click="vm.cancel()" class="btn btn-default" style="width:70px;">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>